html {
  height: 100%;
}

body {
  /* Container properties */
  display: flex;
  flex-direction: column;
  /* Miscelaneous properties */
  height: 100%;
  margin: 0%;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

header {
  /* Item properties */
  order: 1;
  /* Container properties */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* Color properties */
  background-color: #1e262b;
  color: #b52c3c;
  /* Font Properties */
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

nav {
  /* Item properties */
  order: 2;
}

nav ul {
  /* Container properties */
  display: flex;
  /* Color properties */
  background-color: #202c32;
  /* Font Properties */
  font-family: Arial, Helvetica, sans-serif;
  /* Miscelaneous properties */
  list-style-type: none;
  margin: 0%;
  padding: 14px 16px;
}

nav li a {
  /* Container properties */
  text-align: center;
  /* Color properties */
  color: #efdbbc;
  /* Miscelaneous properties */
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  /* Color properties */
  background-color: #b52c3c;
}

section {
  /* Item properties */
  order: 3;
  flex-grow: 1;
  /* Container properties */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* Font Properties */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  /* Miscelaneous properties */
  background: url(../images/background.png);
  background-size: cover; 
}

.box {
  /* Container properties */
  text-align: center;
  /* Color properties */
  color: #b52c3c;
  background-color: #202c32;
  border-color: #1e262b;
  /* Miscelaneous properties */
  border-style: solid;
  border-width: thick;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  /* Item properties */
  order: 4;
  /* Container properties */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Color properties */
  color: #efdbbc ;
  background-color: #1e262b;
  /* Font Properties */
  font-family: Arial, Helvetica, sans-serif;
}

footer p {
  /* Miscelaneous properties */
  padding-left: 20px;
  padding-right: 20px;
}

footer button {
  /* Container properties */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Color properties */
  background-color: white;
  /* Miscelaneous properties */
  height: 40px;
  width: 40px;
  cursor:pointer;
  border-radius: 6px;
}
